.contactUs {
    margin-top: 62px;
    border-top: solid 1px #ccc;
    padding-top: 1.5rem;
    @media (min-width: 768px) {
            border-top: none;
            padding-top: 0rem;
             
         }

    .shadowcntact {
        @media (min-width: 768px) {
        box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.11);
        }
    }

    .contact_slidebar {
        margin-top: 10px;
        @media (min-width: 768px) {
        margin-top: 79px;
        }
        

        h1 {
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            font-size: 1.2rem;
            color: #242a3a;
            margin-bottom: 24px;
            margin-left: 15px;
           
            @media (min-width: 768px) {
                margin-bottom: 50px;
                font-size: 1.5rem;
                margin-left: 50px;
            }
        }

        .contactAddList {
            padding: 0px 15px;
            @media (min-width: 576px) {
                display: flex;
                flex-wrap: wrap;
            }

            @media (min-width: 768px) {
                display: block;
                padding: 0px 0px;
               
            }
        }

        .contactAdd {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0px;
            @media (min-width: 768px) {
                margin-bottom: 38px;
                }

            @media (min-width: 576px) {
                width: 50%;
            }

            @media (min-width: 768px) {
                width: 100%;
               
            }

            .cicon {
                width: 50px;
            }

            .cdetails {
                p {
                    font-family: "Montserrat", sans-serif;
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: #373a45;
                    line-height: 28px;

                    a {
                        text-decoration: none;
                        color: #242a3a;
                    }
                }
            }
        }
    }

    .rightContaint {
        padding: 0 15px;

        @media (min-width: 576px) {
            padding: 0 0px;
            margin-top: 79px;
        }

        @media (min-width: 992px) {
            padding-left: 137px;
        }

        .rightContaint-form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-left: 15px;
            margin-bottom: 15px;
            max-width: 822px;
            margin: 0 auto;

            h2 {
                font-family: "Open Sans", sans-serif;
                font-weight: bold;
                font-size: 1.2rem;
                color: #242a3a;
                margin-bottom: 30px;
                margin-top: 15px;
                @media (min-width: 768px) {
                    font-size: 1.5rem;
                    margin-bottom: 50px;
                    margin-top: 0px;
                }
                
            }
            .sendbtn{
                justify-content: center  !important;
                @media (min-width: 768px) {
                    justify-content: flex-end !important;
                }
            }

            .fgroup {
                width: calc(100%);
                margin-bottom: 25px;

                @media (min-width: 576px) {
                    width: calc(50% - 25px);
                    margin-right: 25px;
                }

                .finput {
                    width: 100%;
                    border-radius: 0;
                    min-height: 64px;
                    border: solid 2px #ccc;
                    padding-left: 22px;
                }
                .ftarea {
                    width: 100%;
                    border-radius: 0;
                    min-height: 260px;
                    border: solid 1px #979797;
                    padding: 28px 26px;
                }

                .plusBtn {
                    width: 200px;
                    background: #e8552a;
                    color: #fff;
                    border: none;
                    border-radius: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1rem;
                    font-family: "Montserrat";
                    padding: 7px 19px;
                    max-width: 134px;
                    margin-top: 20px;
                    font-weight: bold;
                    margin-bottom: 28px;
                    @media (min-width: 768px) {
                        padding: 13px 25px;
                        max-width: 167px;
                        font-size: 1.2rem;
                    }
                    svg {
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .overflow-hidden {
        overflow: hidden !important;
    }
}


